@import '../public/css/sass/materialize.scss';

.light {
  @extend .blue-grey-text, .text-darken-3;
}

.dark {
  @extend .grey-text, .text-darken-4;
}

.larger {
  font-size: 1.2em;
}

.small {
  font-size: .8em;
}

.block-400 {
  height: 400px;
}

.fill {
  height: 100%;
}

.formElement {
  @extend .input-field, .col, .s4, .push-s4;
}

.formElement-split {
  @extend .input-field, .col, .s8, .push-s2;
}

.error {
  @extend .pink-text, .text-lighten-1;
}
